/*section {
}

.default-margins {
  padding-bottom: calc(5 * var(--base-unit));
  padding-bottom: calc(10 * var(--base-unit));
}

.section--hero {
  display: grid;
  grid-template-columns:
    auto repeat(2, minmax(0, calc(var(--max-width-container) / 2)))
    auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". info image ."
    ".   .  image .";
}

.hero__background {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: grey;
}

.hero__information {
  grid-area: info;
  padding: calc(5 * var(--base-unit));
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
  align-items: flex-start;
}

.hero__headings {
}

.hero__title {
}

.hero__subtitle {
  margin-top: calc(-3 * var(--base-unit));
}

.hero__paragraph {
}

.hero__button {
  background-color: darkgrey;
  box-sizing: border-box;
}

.hero__image {
  grid-area: image;
  background-color: black;
  height: 346px;
}
*/
