.form {
  display: grid;
  gap: 1.6rem;
}

.form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form label {
  color: var(--color-primary-1);
}

.form input,
.form select {
  width: 100%;
  max-width: 32rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-primary-1);
  border-radius: var(--border-radius-2);
  padding: 0.5em;
}

.form input:hover,
.form select:hover,
.form input:active,
.form select:active,
.form input:focus,
.form select:focus {
  border: 2px solid var(--color-primary-2);
  outline-color: var(--color-primary-2);
}

.form input.form__button {
  background-color: var(--color-primary-2);
  border: none;
}

.form input.form__button:hover {
  background-color: var(--color-secondary-1);
}
